<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.metadatamanage.db.mapper.DataSourceMapper">
    <delete id="deleteByIDs">
        delete from t_data_source
        where f_id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and f_id not in (select distinct f_data_source_id from t_schema where f_data_source_id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
    </delete>
    <select id="getDataSourceList" resultType="java.lang.String">
        SELECT f_extend_property
        FROM t_data_source
        WHERE f_delete_code = 0
          AND f_data_source_type_name = #{dbType}
          AND f_host = #{host}
          AND f_port = #{port}
          AND f_database = #{database}
    </select>

</mapper>