<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.metadatamanage.db.mapper.IndicatorMapper">
    <resultMap type="com.eisoo.metadatamanage.db.entity.IndicatorEntity" id="baseMap">
        <result property="id" column="f_id"/>
        <result property="indicatorName" column="f_code"/>
        <result property="indicatorType" column="f_indicator_type"/>
        <result property="indicatorValue" column="f_indicator_value"/>
        <result property="authorityId" column="f_authority_id"/>
        <result property="createTime" column="f_create_time"/>
        <result property="advancedParams" column="f_advanced_params"/>
    </resultMap>
</mapper>