<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eisoo.metadatamanage.db.mapper.LineageTagColumnMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.eisoo.metadatamanage.db.entity.LineageTagColumnEntity" id="baseMap">
        <result property="id" column="f_id"/>
        <result property="tableId" column="f_table_id"/>
        <result property="columnName" column="f_column"/>
    </resultMap>
    <insert id="batchSave">
        insert into t_lineage_tag_column2 (f_id,f_table_id,f_column)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.tableId},
            #{item.columnName}
            )
        </foreach>
    </insert>


</mapper>