<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eisoo.metadatamanage.db.mapper.LineageTagTableMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.eisoo.metadatamanage.db.entity.LineageTagTableEntity" id="baseMap">
        <result property="id" column="f_id"/>
        <result property="dbType" column="f_db_type"/>
        <result property="dsId" column="f_ds_id"/>
        <result property="jdbcUrl" column="f_jdbc_url"/>
        <result property="jdbcUser" column="f_jdbc_user"/>
        <result property="dbName" column="f_db_name"/>
        <result property="dbSchema" column="f_db_schema"/>
        <result property="tbName" column="f_tb_name"/>
    </resultMap>
    <insert id="batchSave">
        insert into t_lineage_tag_table2 (f_id,f_db_type,f_ds_id,f_jdbc_url,f_jdbc_user,f_db_name,f_db_schema,f_tb_name)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.dbType},
            #{item.dsId},
            #{item.jdbcUrl},
            #{item.jdbcUser},
            #{item.dbName},
            #{item.dbSchema},
            #{item.tbName}
            )
        </foreach>
    </insert>


</mapper>