<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eisoo.metadatamanage.db.mapper.LineageEdgeTableMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.eisoo.metadatamanage.db.entity.LineageEdgeTableEntity" id="baseMap">
        <result property="id" column="f_id"/>
        <result property="parentId" column="f_parent_id"/>
        <result property="childId" column="f_child_id"/>
        <result property="createType" column="f_create_type"/>
        <result property="createTime" column="f_create_time"/>
        <result property="queryText" column="f_query_text"/>
    </resultMap>

    <insert id="batchSave">
        insert into t_lineage_edge_table (f_id,f_parent_id,f_child_id,f_create_type,f_create_time,f_query_text)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.parentId},
            #{item.childId},
            #{item.createType},
            #{item.createTime},
            #{item.queryText}
            )
        </foreach>
    </insert>


</mapper>