<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.metadatamanage.db.mapper.SchemaMapper">
    <delete id="deleteById">
        delete from t_schema
        where f_id = #{schemaId} 
         and f_data_source_id = #{dsId}
         and not exists (select distinct f_schema_id 
                         from t_table 
                         where f_data_source_id = #{dsId} 
                          and f_schema_id = #{schemaId})
    </delete>
</mapper>