<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.metadatamanage.db.mapper.TableMapper">

    <resultMap type="com.eisoo.metadatamanage.db.entity.TableEntity" id="baseMap">
        <result property="id" column="f_id"/>
        <result property="name" column="f_name"/>
        <result property="advancedParams" column="f_advanced_params"/>
        <result property="description" column="f_description"/>
        <result property="tableRows" column="f_table_rows"/>

        <result property="schemaId" column="f_schema_id"/>
        <result property="schemaName" column="f_schema_name"/>
        <result property="dataSourceId" column="f_data_source_id"/>
        <result property="dataSourceName" column="f_data_source_name"/>
        <result property="dataSourceType" column="f_data_source_type"/>

        <result property="dataSourceTypeName" column="f_data_source_type_name"/>
        <result property="version" column="f_version"/>
        <result property="authorityId" column="f_authority_id"/>
        <result property="createTime" column="f_create_time"/>
        <result property="createUser" column="f_create_user"/>
        <result property="updateTime" column="f_update_time"/>
        <result property="updateUser" column="f_update_user"/>
        <result property="deleted" column="f_deleted"/>
    </resultMap>


    <select id="queryByDsIdDbSchemaTbName" resultMap="baseMap">
        select * from t_table
        where f_deleted=0
        and f_data_source_id in
        <foreach collection="dsIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and f_schema_name in
        <foreach collection="schemaList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and f_name in
        <foreach collection="tableList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </select>
</mapper>