<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.metadatamanage.db.mapper.TableFieldMapper">

    <resultMap type="com.eisoo.metadatamanage.db.entity.TableFieldEntity" id="baseMap">
        <result property="fieldName" column="f_field_name"/>
        <result property="fieldType" column="f_field_type"/>
        <result property="fieldLength" column="f_field_length"/>
        <result property="fieldPrecision" column="f_field_precision"/>
        <result property="fieldComment" column="f_field_comment"/>
        <result property="tableId" column="f_table_id"/>
        <result property="version" column="f_version"/>
        <result property="advancedParams" column="f_advanced_params"/>
        <result property="updateFlag" column="f_update_flag"/>
        <result property="updateAt" column="f_update_at"/>
        <result property="deleteFlag" column="f_delete_flag"/>
    </resultMap>

    <select id="queryByTableIdList" resultMap="baseMap">
        select * from t_table_field
        where f_table_id in
        <foreach collection="tbIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>