apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.moduleName }}-cm
  namespace: {{ .Values.namespace }}
data:
  vega-gateway-pro-config.yaml: |
    server:
      {{- range $key, $val := .Values.config.server }}
      {{- if eq $key "fixedQuerySteps"}}
      {{ $key }}: {{ $val | toJson }}
      {{- else }}
      {{ $key }}: {{ $val }}
      {{- end }}
      {{- end }}
    log:
      {{- toYaml .Values.config.log | nindent 6 }}
    pool:
      {{- toYaml .Values.config.pool | nindent 6 }}
    query:
      {{- toYaml .Values.config.query | nindent 6 }}
    trace:
      {{- toYaml .Values.config.trace | nindent 6 }}
    observability:
      {{- toYaml .Values.config.observability | nindent 6 }}
    kafka:
      {{- toYaml .Values.config.kafka | nindent 6 }}
    depServices: 
      {{- toYaml .Values.depServices | nindent 6 }}
    rsa:
      {{- toYaml .Values.config.rsa | nindent 6 }}