apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-post-install-job
  labels:
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}
    version: {{ .Chart.Version }}
  annotations:
    # 注意，如果没有下面的这个注释的话，当前的这个Job就会被当成release的一部分
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  template:
    metadata:
      name: {{ .Release.Name }}
      labels:
        release: {{ .Release.Name }}
        chart: {{ .Chart.Name }}
        version: {{ .Chart.Version }}
    spec:
      restartPolicy: Never
      containers:
        - name: post-install-job
          image: {{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}
          command:
            - "sh"
            - "-c"
            - >
              curl -H "Content-Type:application/json" -X PUT -d '
              [{
                "name": "doc-audit-client",
                "parent": "plugins",
                "orderIndex": 0,
                "app": {
                  "textZHCN": "审核流程",
                  "textZHTW": "审核流程",
                  "textENUS": "审核流程",
                  "icon": "//ip:port/doc-audit-client/taskbar-audit.svg"
                },
                "subapp": {
                  "entry": "//ip:port/doc-audit-client/",
                  "activeRule": "/",
                  "baseRouter": ""
                }
              }]' http://studio-web-service:8877/api/workstation/v1/webapp
