<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.ColumnFromComposeMapper">
    <insert id="insertBatchSomeColumn">
        insert into t_lineage_tag_column2
        select MD5(concat(dwt.catalog_name, dwt.`schema`, dwt.name, dff.name)) as unique_id,
               dff.id                                                          as uuid,
               dff.name                                                        as technical_name,
               dff.name                                                        as business_name,
               dff.description                                                 as comment,
               ttf.f_field_type                                                as data_type,
               dff.is_primary_key                                              as primary_key,
               MD5(concat(dwt.catalog_name, dwt.`schema`, dwt.name))           as table_unique_id,
               ''                                                              as expression_name,
               ''                                                              as column_unique_ids,
               'insert'                                                        as action_type,
               dwt.created_at                                                  as created_at,
               dwt.updated_at                                                  as updated_at
        from af_business.dw_form_field dff
                 join (select df.id,
                              tt.f_id,
                              d.catalog_name,
                              d.`schema`,
                              df.name,
                              df.created_at,
                              max(df.updated_at) as updated_at
                       from af_business.dw_form df
                                join af_business.datasource d on df.datasource_id = d.id
                                join adp.t_table tt on tt.f_data_source_id = d.datasource_id and tt.f_name collate utf8mb4_unicode_ci = df.name
                       where df.deleted_at = 0 and df.datasource_id != "" and df.checked in (2, 3)
                       group by tt.f_id) dwt on dwt.id = dff.table_id
                 join adp.t_table_field ttf
                      on ttf.f_field_name collate utf8mb4_unicode_ci = dff.name and ttf.f_table_id = dwt.f_id
        ON DUPLICATE key
            update uuid=values(uuid),technical_name=values(technical_name),business_name=values(business_name),comment =values(comment),
                   data_type=values(data_type),primary_key=values(primary_key),table_unique_id=values(table_unique_id),expression_name=values(expression_name),column_unique_ids=values(column_unique_ids),
                   action_type=values(action_type),created_at=values(created_at),updated_at=values(updated_at)
    </insert>
</mapper>
