<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.ColumnLineageMapper">
    <update id="truncateTable">
        TRUNCATE TABLE t_lineage_tag_column2
    </update>
    <select id="selectColumnList" parameterType="java.util.List" resultType="java.lang.String">
        select IFNULL(unique_id ,'') as unique_id
        from t_lineage_tag_column2
        where unique_id in
        <foreach collection="uniqueIds" item="uniqueId" separator="," open="(" close=")">
            #{uniqueId}
        </foreach>
    </select>
    <insert id="insertBatchSomeColumn" parameterType="com.eisoo.entity.ColumnLineageEntity">
        insert into t_lineage_tag_column2(
        unique_id,
        uuid, technical_name, business_name, comment,data_type,
        primary_key, table_unique_id, expression_name,column_unique_ids,
        action_type,created_at,updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.uniqueId},
            #{item.uuid}, #{item.technicalName}, #{item.businessName}, #{item.comment}, #{item.dataType},
            #{item.primaryKey}, #{item.tableUniqueId}, #{item.expressionName},#{item.columnUniqueIds},
            #{item.actionType},#{item.createdAt},#{item.updatedAt}
            )
        </foreach>
        ON DUPLICATE key update
        <trim prefix="" suffixOverrides=",">
            <foreach collection="list" item="item" separator=",">
                uuid= #{item.uuid},technical_name=#{item.technicalName},business_name=#{item.businessName},comment=#{item.comment},data_type=#{item.dataType},
                primary_key=#{item.primaryKey},table_unique_id=#{item.tableUniqueId},
                column_unique_ids = IF(#{item.columnUniqueIds} IS NULL OR #{item.columnUniqueIds} = '',column_unique_ids,#{item.columnUniqueIds}),
                expression_name = IF(#{item.expressionName} IS NULL OR #{item.expressionName} = '',expression_name,#{item.expressionName}),
                action_type=#{item.actionType},
                created_at=IF( #{item.createdAt} IS NULL OR #{item.createdAt} = '',CURRENT_TIMESTAMP, #{item.createdAt}),
                updated_at=IF( #{item.updatedAt} IS NULL OR #{item.updatedAt} = '',CURRENT_TIMESTAMP, #{item.updatedAt})
            </foreach>
        </trim>
    </insert>

    <insert id="updateColumnDeps" parameterType="com.eisoo.entity.ColumnLineageEntity">
        insert into t_lineage_tag_column2(unique_id,column_unique_ids,expression_name,created_at,updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (
             #{item.uniqueId},#{item.columnUniqueIds},#{item.expressionName},#{item.createdAt}, #{item.updatedAt}
            )
        </foreach>
        ON DUPLICATE key update
        <foreach collection="list" item="item" separator=",">
            column_unique_ids = IF(#{item.columnUniqueIds} IS NULL OR #{item.columnUniqueIds} = '',column_unique_ids,#{item.columnUniqueIds}),
            expression_name = IF(#{item.expressionName} IS NULL OR #{item.expressionName} = '',expression_name,#{item.expressionName}),
            created_at=IF( #{item.createdAt} IS NULL OR #{item.createdAt} = '',CURRENT_TIMESTAMP, #{item.createdAt}),
            updated_at=IF( #{item.updatedAt} IS NULL OR #{item.updatedAt} = '',CURRENT_TIMESTAMP, #{item.updatedAt})
        </foreach>
    </insert>
    <insert id="removeBatchColumnDeps" parameterType="com.eisoo.entity.ColumnLineageEntity">
        insert into t_lineage_tag_column2(unique_id,column_unique_ids,expression_name,action_type,created_at,updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.uniqueId},'','',action_type=#{item.actionType}, #{item.createdAt}, #{item.updatedAt}
            )
        </foreach>
        ON DUPLICATE key update
        <foreach collection="list" item="item" separator=",">
            column_unique_ids = '',
            expression_name = '',
            action_type=#{item.actionType},
            created_at=IF( #{item.createdAt} IS NULL OR #{item.createdAt} = '',CURRENT_TIMESTAMP, #{item.createdAt}),
            updated_at=IF( #{item.updatedAt} IS NULL OR #{item.updatedAt} = '',CURRENT_TIMESTAMP, #{item.updatedAt})
        </foreach>
    </insert>
</mapper>
