<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.ColumnFromViewMapper">
        <select id="selectColumnLineageBatchFromView" resultType="com.eisoo.entity.ColumnLineageEntity">
        select fvf.id                                                                         as unique_id,
               fvf.id                                                                         as uuid,
               fvf.technical_name,
               fvf.business_name,
               ''                                                                             as comment,

               fvf.data_type,
               fvf.primary_key,
               fv.id                                                                          as table_unique_id,
               'view_scan'                                                                    as expression_name,
               MD5(concat(d.catalog_name, d.`schema`, fv.technical_name, fvf.technical_name)) as column_unique_ids,

               'insert'                                                                       as action_type,
               fv.created_at                                                                  as created_at,
               fv.updated_at                                                                  as updated_at
        from (select technical_name, id, business_name, data_type, primary_key, form_view_id from adp.form_view_field) fvf
                 join (select id, datasource_id, technical_name, created_at, updated_at from adp.form_view where `type` = 1 and deleted_at = 0) fv on fv.id = fvf.form_view_id
                 join (select id, catalog_name, `schema`, data_view_source from adp.datasource) d on fv.datasource_id = d.id
        </select>
</mapper>
