<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.DolphinLineageMapper">
    <insert id="insertBatchColumn">
        insert into t_lineage_tag_column2(unique_id,column_unique_ids,expression_name)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.uniqueId},#{item.columnUniqueIds},#{item.expressionName})
        </foreach>
        ON DUPLICATE key update
        <foreach collection="list" item="item" separator=",">
            column_unique_ids=#{item.columnUniqueIds},expression_name=#{item.expressionName}
        </foreach>
    </insert>
</mapper>
