<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.IndicatorLineageMapper">
    <update id="truncateTable">
        TRUNCATE TABLE t_lineage_tag_indicator2
    </update>
    <select id="selectDepsInfo" resultType="com.eisoo.entity.IndicatorLineageEntity">
        select uuid,indicator_uuids,column_unique_ids from t_lineage_tag_indicator2
    </select>
<!--    <select id="selectIndicatorLineageEntity" resultType="com.eisoo.entity.IndicatorLineageEntity">-->
<!--        select id                  as uuid,-->
<!--               name                as name,-->
<!--               description,-->
<!--               code,-->
<!--               indicator_type,-->
<!--               expression,-->
<!--               atomic_indicator_id as indicator_uuids,-->
<!--               time_restrict,-->
<!--               modifier_restrict,-->
<!--               owner_uid,-->
<!--               owner_name,-->
<!--               mgnt_dep_id         as department_id,-->
<!--               mgnt_dep_name       as department_name,-->
<!--               created_at,-->
<!--               updated_at-->
<!--        from af_data_model.t_technical_indicator-->
<!--    </select>-->
    <insert id="insertBatchSomeColumn">
        insert into t_lineage_tag_indicator2 (uuid, name, description, code, indicator_type,
        expression, indicator_uuids, time_restrict, modifier_restrict,owner_uid,
        owner_name, department_id, department_name, column_unique_ids, action_type,
        created_at, updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.uuid}, #{item.name}, #{item.description}, #{item.code}, #{item.indicatorType},
            #{item.expression}, #{item.indicatorUuids}, #{item.timeRestrict}, #{item.modifierRestrict},#{item.ownerUid},
            #{item.ownerName}, #{item.departmentId}, #{item.departmentName}, #{item.columnUniqueIds}, #{item.actionType},
            #{item.createdAt}, #{item.updatedAt}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        <foreach collection="list" item="item" separator=",">
            name=#{item.name},description= #{item.description},code=#{item.code},indicator_type=#{item.indicatorType},
            expression=#{item.expression},indicator_uuids=#{item.indicatorUuids},time_restrict=#{item.timeRestrict},modifier_restrict=#{item.modifierRestrict},owner_uid=#{item.ownerUid},
            owner_name=#{item.ownerName},department_id=#{item.departmentId},department_name=#{item.departmentName},column_unique_ids=#{item.columnUniqueIds},action_type=#{item.actionType},
            created_at=IF( #{item.createdAt} IS NULL OR #{item.createdAt} = '',CURRENT_TIMESTAMP, #{item.createdAt}),
            updated_at=IF( #{item.updatedAt} IS NULL OR #{item.updatedAt} = '',CURRENT_TIMESTAMP, #{item.updatedAt})
        </foreach>
    </insert>
</mapper>
