<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.LineageOpLogMapper">
    <update id="truncateTable">
        TRUNCATE TABLE t_lineage_log
    </update>
    <insert id="insertBatchSomeColumn" parameterType="com.eisoo.entity.LineageOpLogEntity">
        insert into t_lineage_log (class_id,class_type,action_type,class_data,created_at)
            values
        <foreach collection="list" item="item" separator=",">
            (#{item.classId},#{item.classType},#{item.actionType},#{item.classData},#{item.createdAt})
        </foreach>
        ON DUPLICATE KEY UPDATE
        <foreach collection="list" item="item" separator=",">
            class_id=#{item.classId},class_type=#{item.classType},action_type=#{item.actionType},
            class_data=#{item.classData},created_at=#{item.createdAt}
        </foreach>
    </insert>
</mapper>
