<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.RelationMapper">
    <update id="truncateTable">
        TRUNCATE TABLE t_lineage_relation
    </update>
    <insert id="insertBatchColumnRelation">
        insert into t_lineage_relation
        select unique_id, 1, column_unique_ids, '', created_at, updated_at
        from t_lineage_tag_column2
    </insert>
    <insert id="insertBatchIndicatorRelation">
        insert into t_lineage_relation
        select uuid,
               2,
               case
                   when indicator_uuids is null or indicator_uuids = '' then column_unique_ids
                   when (indicator_uuids is not null and indicator_uuids != '') and
                        (column_unique_ids is not null and column_unique_ids != '')
                       then concat(indicator_uuids, ',', column_unique_ids)
                   when (indicator_uuids is not null and indicator_uuids != '') and
                        (column_unique_ids is null or column_unique_ids = '') then indicator_uuids
                   end as parent,
               '',
               CURRENT_TIMESTAMP,
               CURRENT_TIMESTAMP
        from t_lineage_tag_indicator2
    </insert>

    <insert id="insertBatchSomeColumn" parameterType="com.eisoo.entity.RelationEntity">
        insert into t_lineage_relation (unique_id, class_type, parent, child)
        values
        <foreach collection="list" item="item" separator=",">
            ( #{item.uniqueId}, #{item.classType},#{item.parent},#{item.child})
        </foreach>
        ON DUPLICATE KEY UPDATE
        <foreach collection="list" item="item" separator=",">
            class_type= #{item.classType}, parent=#{item.parent},child=#{item.child}
        </foreach>
    </insert>
    <!--更新child这个字段-->
    <insert id="updateChildBatchChildField" parameterType="com.eisoo.entity.RelationEntity">
        insert into t_lineage_relation (unique_id, class_type,child)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.uniqueId},#{item.classType},#{item.child})
        </foreach>
        ON DUPLICATE KEY UPDATE
        <trim prefix="" suffixOverrides=",">
            <foreach collection="list" item="item" separator=",">
                child= #{item.child}
            </foreach>
        </trim>
    </insert>
    <insert id="insertBatchSomeColumnNotDep">
        insert into t_lineage_relation (unique_id, class_type)
        values
        <foreach collection="list" item="item" separator=",">
            ( #{item.uniqueId}, #{item.classType})
        </foreach>
        ON DUPLICATE KEY UPDATE
        <foreach collection="list" item="item" separator=",">
            class_type= #{item.classType}
        </foreach>
    </insert>

    <insert id="saveOrUpdateRelation" parameterType="com.eisoo.entity.RelationEntity">
        insert into t_lineage_relation (unique_id, class_type, parent, child)
        values (#{uniqueId}, #{classType}, #{parent}, #{child})
        ON DUPLICATE KEY UPDATE class_type= #{classType},
                                parent=#{parent},
                                child=#{child}
    </insert>

    <select id="selectRelationEntity" resultType="com.eisoo.entity.RelationEntity">
        select unique_id,
               class_type,
               parent,
               child
        from t_lineage_relation
    </select>
</mapper>
