<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.TableFromComposeMapper">
    <insert id="insertBatchSomeColumn">
        insert into t_lineage_tag_table2
        select MD5(concat(d.catalog_name, d.`schema`, df.name)) as unique_id,
               convert(tt.f_id, char)                              uuid,
               df.name                                          as technical_name,
               df.name                                          as business_name,
               df.description                                   as comment,
               'data_table'                                           as table_type,

               df.datasource_id,
               d.name                                           as datasource_name,
               u.user_id                                        as owner_id,
               u.name                                           as owner_name,
               ''                                               as department_id,

               ''                                               as department_name,
               ''                                               as info_system_id,
               ''                                               as info_system_name,
               d.`schema`                                       as database_name,
               d.catalog_name,

               concat(d.username, '@', d.host, ":", d.port)     as catalog_addr,
               d.type_name                                      as catalog_type,
               NULL                                             as task_execution_info,
               'insert'                                         as action_type,
               df.created_at                                    as created_at,
               max(df.updated_at)                               as updated_at
        from af_business.dw_form df
                 left join af_business.`user` u on u.id = df.created_by_uid
                 join af_business.datasource d on df.datasource_id = d.id
                 join adp.t_table tt on tt.f_data_source_id = d.datasource_id and tt.f_name collate utf8mb4_unicode_ci = df.name
        where df.deleted_at = 0 and df.datasource_id != "" and df.checked in (2, 3)
        group by tt.f_id
        ON DUPLICATE key
            update uuid=values(uuid),technical_name=values(technical_name),business_name=values(business_name),comment =values(comment),table_type=values(table_type),
                   datasource_id=values(datasource_id),datasource_name=values(datasource_name),owner_id=values(owner_id),owner_name=values(owner_name),department_id=values(department_id),
                   department_name=values(department_name),info_system_id=values(info_system_id),info_system_name=values(info_system_name),database_name=values(database_name),catalog_name =values(catalog_name),
                   catalog_addr=values(catalog_addr),catalog_type=values(catalog_type),task_execution_info=values(task_execution_info),action_type=values(action_type),created_at=values(created_at),updated_at=values(updated_at)
    </insert>
</mapper>
