<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.TableLineageMapper">
    <update id="truncateTable">
        TRUNCATE TABLE t_lineage_tag_table2
    </update>
    <insert id="insertBatchSomeColumn" parameterType="com.eisoo.entity.TableLineageEntity">
        insert into t_lineage_tag_table2 (
        unique_id,
        uuid,technical_name,business_name,comment,table_type,
        datasource_id,datasource_name,owner_id,owner_name,department_id,
        department_name,info_system_id,info_system_name,database_name, catalog_name,
        catalog_addr,catalog_type,task_execution_info,action_type,created_at,
        updated_at)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.uniqueId},
            #{item.uuid},#{item.technicalName},#{item.businessName}, #{item.comment}, #{item.tableType},
            #{item.datasourceId},#{item.datasourceName},#{item.ownerId},#{item.ownerName},#{item.departmentId},
            #{item.departmentName},#{item.infoSystemId},#{item.infoSystemName},#{item.databaseName},#{item.catalogName},
            #{item.catalogAddr},#{item.catalogType},#{item.taskExecutionInfo},#{item.actionType},
            IF( #{item.createdAt} IS NULL,CURRENT_TIMESTAMP, #{item.createdAt}),
            IF( #{item.updatedAt} IS NULL,CURRENT_TIMESTAMP, #{item.updatedAt})
            )
        </foreach>
        ON DUPLICATE key update
        <trim prefix="" suffixOverrides=",">
            <foreach collection="list" item="item" separator=",">
                uuid= #{item.uuid},technical_name=#{item.technicalName},business_name=#{item.businessName},comment=#{item.comment},table_type=#{item.tableType},
                datasource_id=#{item.datasourceId},datasource_name=#{item.datasourceName},owner_id=#{item.ownerId},owner_name=#{item.ownerName},department_id=#{item.departmentId},
                department_name=#{item.departmentName},info_system_id=#{item.infoSystemId},info_system_name=#{item.infoSystemName},database_name=#{item.databaseName},catalog_name=#{item.catalogName},
                catalog_addr=#{item.catalogAddr},catalog_type=#{item.catalogType},
                task_execution_info = IF(#{item.taskExecutionInfo} IS NULL OR #{item.taskExecutionInfo} = '',task_execution_info,#{item.taskExecutionInfo}),
                action_type=#{item.actionType},
                created_at=IF( #{item.createdAt} IS NULL OR #{item.createdAt} = '',CURRENT_TIMESTAMP, #{item.createdAt}),
                updated_at=IF( #{item.updatedAt} IS NULL OR #{item.updatedAt} = '',CURRENT_TIMESTAMP, #{item.updatedAt})
            </foreach>
        </trim>
    </insert>
    <select id="selectTableUniqueIdList" parameterType="java.util.List" resultType="java.lang.String">
        select IFNULL(unique_id ,'') as unique_id
        from t_lineage_tag_table2
        where unique_id in
        <foreach collection="uniqueIds" item="uniqueId" separator="," open="(" close=")">
            #{uniqueId}
        </foreach>
    </select>
</mapper>