phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
# registry=http://www.rzdata.net:8081/repository/npm-group/
registry=https://repohub.aishu.cn/repository/npm-hub/