trigger:
  batch: true
  branches:
    include:
      - "feature-*"
      - "feature/*"
      - "develop"
      - "release-*"
      - "release/*"
      - "patch-*"

variables:
  - group: global-dip
  - name: X86Pool
    value: dip-centos7-x86_64
  - group: global-dip
  - name: IMAGE_REGISTRY
    value: "acr.aishu.cn"
  - name: IMAGE_REPOSITORY
    value: "dip/vega-gateway-pro"
  - name: VERSION
    value: 3.2.0
  - name: CHART_REPO
    value: "https://acr.aishu.cn/api/chartrepo/dip/charts"
  - name: CHART_NAME
    value: "vega-gateway-pro"
  - name: IS_RELEASE
    value: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/release')]
  - name: BRANCH_NAME
    value: $[replace(replace(variables['Build.SourceBranch'], 'refs/heads/', ''), '/', '-')]
  - name: BUILD_IMAGE
    value: "acr.aishu.cn/ar/go.build:1.24.11-20251203"
  - name: BASE_IMAGE
    value: "acr.aishu.cn/public/ubuntu:22.04.20251014"
  - name: YQ_IMAGE
    value: "acr.aishu.cn/public/mikefarah/yq:4.26.1"
  - name: LintReportName # 此行保持一致
    value: lint_report.xml
  - name: UTReportName # 此行保持一致
    value: ut_report.xml
  - name: CoverageReportName # 此行保持一致
    value: coverage_report.xml
  - name: RSA_PRIVATE_KEY
    value: |
      -----BEGIN PRIVATE KEY-----
      MIIEwAIBADANBgkqhkiG9w0BAQEFAASCBKowggSmAgEAAoIBAQDbYY5JDWN4OGl3
      PGEl11J/5TXQXgi+63uCJiFyEUAgmBGicxqYNPzoxKpBRzwN1MV08YubszcZQpyw
      bWpsLdKqThcn02OZBduzsgxbJYRZCs3si/tLZCMNgkj6mm8g3TcjQqbdYqyaeuV7
      ZsvNP9Ubx7vZhfr119cB6Jfq4OGG3W9r8nFlUUwhXekdroBBD2CflIBRNfZqQSFF
      97Vs8mN9XKgz51822+B19qtqpXWs6FUMSp3Q2U5a3ZEfARNDBTyAgmJvZtqPYy3I
      gBj59DAqUpbFSzUZwVsQKeFU+JU3oESFcPs6FG31AT9y5iXm/hrrKm6AZowErpUo
      6oUcO9+bAgMBAAECggEBAMXsiwlfeemBw60enWsdi8H1koqN/Af7vi9apXwbEicV
      63sLq+e8jpyWqiBA226DEy6BqfnsQ36XuXP3EzfMU67wyzVUIxxwy5mgvkMRYwlO
      lSCf3jVTf8h1TdBCupYE3vUB8jf0CVNKI3Yk9SQVPfhVSCZlGVjpxYJkTYNMJkyc
      GMYAdZFCEV43mIm+ev4GaepR+d/syeXL/SZfFa0uEy8SFChrehRDhdVVkn+dRzeg
      O6tbDkTFYtOpi+UI5obcGsVXEN3ZAZzaOKrB2TPwU1Ei5sIcWZhvKEfJkpiKIdpe
      eLztYSaRB6gjCqhYQ3wzaJQCnoNVz+XqVaRTcPdZfBECgYEA+34Xo43WjhSdWR/P
      laqleXfcwCmsF4Za+2qZjXLW//D2SXQylRv6hMAcVg7qCJM5a95X5VTr5H7pQNHN
      ungE5Oi9lvYlZYb+pmG2wRn+/ufBs6OjwR6aDw/bsqeDHVjPeFIrxFPeXNllEHe1
      xtZuhXvxFjDXqIwzQa2WijT8hjMCgYEA31Ag3lj9bAF7dBTJn8yRPhZX4v3I5N3x
      H7G5XVj75cwMk4RB1s4WN/uLsuVDzXmG7NXjZ2c6kMYk658TTPKznQwhDx3Jq7Mh
      HSJklWDtcPOioFZzFkikfqHseAWGf9s/HxBgieLa3IuGR9hEJ4EjDHa43UDXGQD2
      90QGX7qlSPkCgYEAh9FL8N8LzQVjCJu+XqSe4t+RjxGyR64eeoLSVGp9pBE84ORo
      4NAQVhrt8qfxShpAO3oDW+2ly2uiiogDo71nXzw2D031WkQySCajLNveM0lz+ZDZ
      QdVF+/ZjfrMqgvHQcblmu4tTni8lfmQ3/h8V5u7Nf193SCYXFFQr5Y3CBrMCgYEA
      wBgWXg3g2WKhBqbHFd4L5oOj0FAM2ssMGv5vfJwJ+4++FbtEQ3n95ORONHJBE+SB
      KwOGXTGQUG8R3Vl2ac+wr9x6J52xGDC7wGsQaOr69RmvAAu9biLI1WGGn2vpWdyI
      fLlCwfnR2LtwpCal4fGU66jItxKKtSh+SQ9MCFbuzUkCgYEAvUZaQDKmjdSbtR7J
      yRXWfXPf0DpUqYKDzP40VoPcoQVGBmZAmq92yl1DMqFBfYCueCv1aA7Ozt+RFgyV
      bMdUcJ0qzhKdCnEaonlpJPlnZkfATj5vOLs+nwfsmyO0iwcjA2zjJHmBZM+Xg+tl
      enZgox36xuiZZrGQd0jXRt134QM=
      -----END PRIVATE KEY-----

parameters:
  - name: TRIVY_EXIT_CODE
    displayName: trivy exit code
    type: number
    default: 1
    values:
      - 0
      - 1

resources:
  containers:
    - container: dotnet
      endpoint: ACRDockerRegistry
      image: dotnet/runtime:3.1-bullseye-slim
  repositories:
    - repository: templatesAlias
      type: git
      name: ONE-Architecture\Yaml-Templates
      ref: "refs/heads/main"
    - repository: arPipelineTemplates
      type: git
      name: AnyRobot\PipelineTemplates
      ref: "refs/heads/develop"

stages:

  - stage: BuildImage
    displayName: 镜像编译
    dependsOn:
      #- CodeCheck
    jobs:
      - job: BuildImage
        displayName: 镜像编译
        workspace:
          clean: all
        strategy:
          matrix:
            amd64:
              ARCH_TYPE: amd64
              poolAgentOSArchitecture: X64
            arm64:
              ARCH_TYPE: arm64
              poolAgentOSArchitecture: ARM64
          maxParallel: 2
        pool:
          name: anyrobot-pools
          demands:
            - Agent.OSArchitecture -equals $(poolAgentOSArchitecture)
            - Agent.OS -equals Linux
            - docker
        steps:
          - checkout: self

          - task: Docker@2
            displayName: 登录容器仓库
            inputs:
              containerRegistry: "ACRDockerRegistry"
              command: "login"

          - task: Bash@3
            name: BuildImageTask
            displayName: 镜像编译
            inputs:
              targetType: inline
              script: |
                #!/usr/bin/env bash
                set -ex

                cp ~/.ssh/id_rsa id_rsa
                echo machine devops.aishu.cn login DIP password $(System.AccessToken) > .netrc
                
                echo "$(RSA_PRIVATE_KEY)" > server/common/rsa/private_key.pem

                CURRENT_TAG="$(VERSION)-$(BRANCH_NAME).$(Build.BuildNumber)"
                LATEST_TAG="$(VERSION)-$(BRANCH_NAME)"
                if [ $(IS_RELEASE) = True ]; then
                    CURRENT_TAG="$(VERSION)-$(Build.BuildNumber)"
                    LATEST_TAG="$(VERSION)"
                fi

                CURRENT_IMAGE="$(IMAGE_REGISTRY)/$(IMAGE_REPOSITORY):${CURRENT_TAG}.$(ARCH_TYPE)"
                LATEST_IMAGE="$(IMAGE_REGISTRY)/$(IMAGE_REPOSITORY):${LATEST_TAG}.$(ARCH_TYPE)"
                
                docker build --force-rm --no-cache --pull -t ${CURRENT_IMAGE} -f docker/Dockerfile \
                  --build-arg GOPROXY_URL=$(go.proxy) \
                  --build-arg BUILD_IMAGE=$(BUILD_IMAGE) \
                  --build-arg BASE_IMAGE=$(BASE_IMAGE) \
                  --build-arg SERVER_VERSION=${LATEST_TAG} .

                set +x
                echo "##vso[task.setvariable variable=CURRENT_IMAGE;isoutput=true]$CURRENT_IMAGE"
                set +x
                echo "##vso[task.setvariable variable=LATEST_IMAGE;isoutput=true]$LATEST_IMAGE"

          - template: scan-image-step.yml@templatesAlias
            parameters:
              imageName: $(BuildImageTask.CURRENT_IMAGE)
              exitCode: ${{ parameters.TRIVY_EXIT_CODE }}
              scanTimeout: 10m

          - task: Bash@3
            displayName: 推送镜像
            inputs:
              targetType: inline
              script: |
                #!/usr/bin/env bash
                set -ex
                docker tag $(BuildImageTask.CURRENT_IMAGE) $(BuildImageTask.LATEST_IMAGE)
                docker push $(BuildImageTask.CURRENT_IMAGE)
                docker push $(BuildImageTask.LATEST_IMAGE)
                docker rmi $(BuildImageTask.CURRENT_IMAGE) $(BuildImageTask.LATEST_IMAGE)

          - task: Post-Bash@3
            inputs:
              targetType: inline
              script: |
                docker ps -a -q -f status=exited | xargs -I {} docker rm {}
                docker images -q -f dangling=true | xargs -I {} docker rmi {}
                rm -rf $(Build.SourcesDirectory)
                ls -lah $(Agent.BuildDirectory)

  - stage: MakeManifest
    displayName: 制作多架构镜像
    dependsOn:
      - BuildImage
    jobs:
      - job: MakeManifest
        displayName: 制作多架构镜像
        workspace:
          clean: all
        pool:
          name: anyrobot-pools
          demands:
            - Agent.OSArchitecture -equals X64
            - Agent.OS -equals Linux
            - docker
        steps:
          - task: Docker@2
            displayName: 登录容器仓库
            inputs:
              containerRegistry: ACRDockerRegistry
              command: login

          - task: Bash@3
            displayName: 制作多架构镜像
            inputs:
              targetType: inline
              script: |
                #!/usr/bin/env bash
                set -ex

                CURRENT_TAG="$(VERSION)-$(BRANCH_NAME).$(Build.BuildNumber)"
                LATEST_TAG="$(VERSION)-$(BRANCH_NAME)"
                if [ $(IS_RELEASE) = True ]; then
                    CURRENT_TAG="$(VERSION)-$(Build.BuildNumber)"
                    LATEST_TAG="$(VERSION)"
                fi

                CURRENT_IMAGE="$(IMAGE_REGISTRY)/$(IMAGE_REPOSITORY):${CURRENT_TAG}"
                LATEST_IMAGE="$(IMAGE_REGISTRY)/$(IMAGE_REPOSITORY):${LATEST_TAG}"

                docker manifest create --amend ${CURRENT_IMAGE} ${CURRENT_IMAGE}.amd64 ${CURRENT_IMAGE}.arm64
                docker manifest create --amend ${LATEST_IMAGE} ${LATEST_IMAGE}.amd64 ${LATEST_IMAGE}.arm64

                docker manifest push -p ${CURRENT_IMAGE}
                docker manifest push -p ${LATEST_IMAGE}

          - task: Post-Bash@3
            inputs:
              targetType: inline
              script: |
                rm -rf $(Build.SourcesDirectory)
                ls -lah $(Agent.BuildDirectory)

  - stage: ChartPush
    displayName: Chart构建
    dependsOn:
    jobs:
      - job: ChartPush
        displayName: Chart构建
        workspace:
          clean: all
        pool:
          name: anyrobot-pools
          demands:
            - Agent.OSArchitecture -equals X64
            - Agent.OS -equals Linux
            - docker
        steps:
          - checkout: self

          - task: Bash@3
            displayName: Chart构建
            inputs:
              targetType: inline
              script: |
                #!/usr/bin/env bash
                set -ex

                CURRENT_TAG="$(VERSION)-$(BRANCH_NAME).$(Build.BuildNumber)"
                LATEST_TAG="$(VERSION)-$(BRANCH_NAME)"
                if [ $(IS_RELEASE) = True ]; then
                    CURRENT_TAG="$(VERSION)-$(Build.BuildNumber)"
                    LATEST_TAG="$(VERSION)"
                fi

                chmod 777 -R $(pwd)/helm
                docker run --rm \
                      -v $(pwd)/helm:/chart \
                      --entrypoint='' \
                      $(YQ_IMAGE) sh -c "
                  set -ex

                  yq eval -i '.image.registry = \"$(IMAGE_REGISTRY)\"' /chart/$(CHART_NAME)/values.yaml
                  yq eval -i '.image.repository = \"$(IMAGE_REPOSITORY)\"' /chart/$(CHART_NAME)/values.yaml
                  yq eval -i '.image.tag = \"${LATEST_TAG}\"' /chart/$(CHART_NAME)/values.yaml

                  yq eval -i '.name = \"$(CHART_NAME)\"' /chart/$(CHART_NAME)/Chart.yaml
                  yq eval -i '.appVersion = \"${CURRENT_TAG}\"' /chart/$(CHART_NAME)/Chart.yaml
                  sed -i 's/\"version\": .*/\"version\": \"${CURRENT_TAG}\",/g' /chart/$(CHART_NAME)/_componentMeta.json

                  yq eval -i '.version = \"${CURRENT_TAG}\"' /chart/$(CHART_NAME)/Chart.yaml
                  cd /chart && tar -czf $(CHART_NAME)-${CURRENT_TAG}.tar.gz $(CHART_NAME)

                  yq eval -i '.version = \"${LATEST_TAG}\"' /chart/$(CHART_NAME)/Chart.yaml
                  cd /chart && tar -czf $(CHART_NAME)-${LATEST_TAG}.tar.gz $(CHART_NAME)
                  "

                cd helm
                curlOptions="-s -u $(registry.username):$(registry.password) -H \"Content-Type:multipart/form-data\""
                curl ${curlOptions} -F "chart=@$(CHART_NAME)-${CURRENT_TAG}.tar.gz;type=application/x-compressed-tar" -X POST "$(CHART_REPO)"
                curl ${curlOptions} -F "chart=@$(CHART_NAME)-${LATEST_TAG}.tar.gz;type=application/x-compressed-tar" -X POST "$(CHART_REPO)"

          - task: Post-Bash@3
            inputs:
              targetType: inline
              script: |
                rm -rf $(Build.SourcesDirectory)
                ls -lah $(Agent.BuildDirectory)
