server:
  runMode: release
  httpPort: 13025
  language: zh-CN
  readTimeOut: 120
  writeTimeOut: 120
  retryIntervalMs: 3000              # kafka生产、消费失败重试的等待时间
  flushMiB: 5
  flushItems: 10000
  flushIntervalSec: 3
  failureThreshold: 5
  packagePoolSize: 500
  connectCheckTimeout: 3
  watchJobsIntervalMin: 10 # 自动恢复异常任务和轮询 topic 变化的时间
log:
  logLevel: info
  developMode: false
  maxAge: 100
  maxBackups: 20
  maxSize: 100
kafka:
  retentionMs: 28800000                 # 8小时
  retentionBytes: 104857600             # 100M
  autoOffsetReset: latest               # 可选值 latest, earliest
  sessionTimeoutMs: 45000               # 组管理协议用来监测消费者是否失效的超时时间
  fetchWaitMaxMs: 3000                  # 消费者拉取一字节消息的超时时间
  socketTimeoutMs: 60000                # 消费者拉取消息的超时时间，等于socketTimeoutMs + fetchWaitMaxms
  maxPollIntervalMs: 300000             # 两次 poll操作之间的间隔
  heartbeatIntervalMs: 10000            # 消费者向coordinator发送心跳包的间隔时间
  retries: 5                            # 生产者重试次数
  retryBackoffMs: 500                   # 生产者每次重试之间的间隔
  transactionTimeoutMs: 60000           # 事务操作超时时间
  adminClientRequestTimeoutMs: 30000    # 获取源集群 topics 的超时时间
  adminClientOperationTimeoutMs: 60000  # 向目标集群创建 topic 的超时时间
depServices:
  rds:
    host: mariadb-mariadb-master.resource.svc.cluster.local.
    port: 3330
    user: test
    password: testpwd
    type: MariaDB
  mq:
    auth:
      mechanism: PLAIN
      username: test
      password: testpwd
    mqHost: kafka-headless.resource.svc.cluster.local.
    mqPort: 9097
    mqType: kafka
    protocol: sasl_plaintext
    tenant: default
  index-base:
    host: mdl-index-base-svc
    port: 13013
    protocol: http
  data-model:
    host: mdl-data-model-svc
    port: 13020
    protocol: http
  uniquery:
    host: mdl-uniquery-svc
    port: 13011
    protocol: http
  hydra-admin:
    host: hydra-admin
    port: 4445
    protocol: http