trigger:
  branches:
    include:
      - MISSION
      - feature/*
      - hotfix/*

parameters:
  - name: TRIVY_EXIT_CODE
    displayName: trivy exit code
    type: number
    default: 1
    values:
      - 0
      - 1
  - name: SKIP_SONARQUBE
    displayName: skip sonarqube
    type: number
    default: 0
    values:
      - 0
      - 1

variables:
  - group: global-dip
  - name: imageRegistry
    value: acr.aishu.cn
  - name: imageCoreRepository
    value: dip/flow-audit-core
  - name: imageConfRepository
    value: dip/flow-audit-config
  - name: imageWConfRepository
    value: dip/workflow-config
  - name: lintReportName
    value: lint_report.xml
  - name: utReportName
    value: ut_report.xml
  - name: coverageReportName
    value: coverage_report.xml
  - name: chartRepo
    value: "https://acr.aishu.cn/api/chartrepo/dip/charts"
  - name: yqImage
    value: "acr.aishu.cn/public/mikefarah/yq:4.26.1"
  
  - name: poolNameAMD64
    value: "anydata-centos7.7-x86_64"
  - name: poolNameARM64
    value: "anydata-centos7-arm"

  - name: flowAuditCoreProject
    value: doc-audit-rest
  - name: flowAuditConfProject
    value: workflow-rest

  - name: flowAuditCoreArtifactName
    value: DistributeCore
  - name: flowAuditConfArtifactName
    value: DistributeConfig

  - name: checkOutBranch
    value: $[replace(variables['Build.SourceBranch'], 'refs/heads/', '')]

resources:
  repositories:
    - repository: templatesAlias
      type: git
      name: ONE-Architecture\Yaml-Templates
      ref: 'refs/heads/main'
  containers:
    - container: builder
      endpoint: acr.aishu.cn
      image: acr.aishu.cn/as/openjdk-workcenter.build:x86.java1.8.0.20240528
      volumes:
        - /root/local:/root/.m2
    - container: arm-builder
      endpoint: acr.aishu.cn
      image: acr.aishu.cn/as/openjdk-workcenter.build:arm.java1.8.0.20240528
      volumes:
        - /root/local:/root/.m2

stages:
  - stage: InitVariable
    displayName: 初始化
    jobs:
      - job: InitVariable
        pool: anydata-centos7.7-x86_64
        workspace:
          clean: all
        steps:
          - checkout: self
          - checkout: git://workflow-config@$(checkOutBranch)
            fetchDepth: 1
          - bash: |
              set -ex
              cd $(Build.SourcesDirectory)/workflow-config
              workflowConfigCommit="$(git rev-parse --short HEAD 2>/dev/null)"
              
              cd $(Build.SourcesDirectory)/workflow
              VERSION=`cat VERSION`

              gitCommit="$(git rev-parse --short HEAD 2>/dev/null)"
              
              # 处理分支名称，将/替换为-
              # 从refs/heads/feature/12345中提取feature/12345，然后将/替换为-
              BRANCH_NAME=$(echo $(checkOutBranch) | tr '/' '-')
              CURRENT_TAG="${VERSION}-${BRANCH_NAME}.${gitCommit}.$(Build.BuildId)"
              LATEST_TAG="${VERSION}-${BRANCH_NAME}.${gitCommit}"
              WORKFLOW_CONFIG_LATEST_TAG="${VERSION}-${BRANCH_NAME}.${workflowConfigCommit}"

              set +x
              echo "##vso[task.setvariable variable=VERSION;isoutput=true]$VERSION"
              echo "##vso[task.setvariable variable=CURRENT_TAG;isoutput=true]$CURRENT_TAG"
              echo "##vso[task.setvariable variable=LATEST_TAG;isoutput=true]$LATEST_TAG"
              echo "##vso[task.setvariable variable=WORKFLOW_CONFIG_LATEST_TAG;isoutput=true]$WORKFLOW_CONFIG_LATEST_TAG"
              echo "##vso[task.setvariable variable=COMMIT_ID;isoutput=true]$gitCommit"
              
            name: MyOutputVar
  - stage: CodeCheck
    dependsOn:
      - InitVariable
    displayName: 代码检查
    jobs:
      - job: PullDependencyRepo
        displayName: 拉取依赖仓库代码
        workspace:
          clean: all
        pool:
          name: $(poolNameAMD64)
        container: builder
        steps:
          - checkout: self
            fetchDepth: 1
          - script: |
              rm -rf ./**
              ls -l
            condition: always()
            displayName: Remove Source
  - stage: BuildCoreImage
    displayName: DOC_AUDIT_CORE镜像构建
    dependsOn:
      - InitVariable
      - CodeCheck
    variables:
      VERSION: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.VERSION']]
      CURRENT_TAG: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.CURRENT_TAG']]
      LATEST_TAG: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.LATEST_TAG']]
    jobs:
      - template: templates/azure-template.yml
        parameters:
          name: DockerJobX86_Build
          pool: $(poolNameAMD64)
          containerName: builder
          registry: $(imageRegistry)
          imageRepository: $(imageCoreRepository)
          artifactName: $(flowAuditCoreArtifactName)
          dependencyArtifact: DependencyRepo
          arch: 'amd64'
          buildImageJobName: 'DockerJobX86_ImageBuild'
          buildProject: $(flowAuditCoreProject)
      - template: templates/azure-template.yml
        parameters:
          name: DockerJobARM_Build
          pool: $(poolNameARM64)
          containerName: arm-builder
          registry: $(imageRegistry)
          imageRepository: $(imageCoreRepository)
          artifactName: $(flowAuditCoreArtifactName)
          dependencyArtifact: DependencyRepo
          arch: 'arm64'
          buildImageJobName: 'DockerJobARM_ImageBuild'
          buildProject: $(flowAuditCoreProject)

      - template: scan-and-push-image.yml@templatesAlias # 保持一致
        parameters:
          arch: amd64 # 可选值 amd64,arm64
          pool: $(poolNameAMD64) # 代理池
          dependsOnName: DockerJobX86_ImageBuild # 构建docker镜像步骤所在job的名称，即getAgentName task所在job的名称，此示例中为BuildImage
          imageName: $[ dependencies.DockerJobX86_ImageBuild.outputs['getAgentName.LATEST_IMAGE'] ] # 本地构建完镜像之后的全名
          registry: ACRDockerRegistry # 连接到harbor的服务连接名
          scanTimeout: 11m # trivy扫描的超时设置，默认值为5分钟(5m)
          templateNo: 1 # 若同一个yaml中多次引用此template，此字段需要以1,2,3...的形式区分开来。为了保证template yml中job id的唯一性
          hasSecondImage: 1 # 1代表同一个镜像存在第二个不同tag，此参数为可选参数，不填写时默认值为0
          secondImageName: $[ dependencies.DockerJobX86_ImageBuild.outputs['getAgentName.CURRENT_IMAGE'] ] # 此参数为可选参数，hasSecondImage为1时需要填写此字段，为镜像包含第二个tag的全名
          exitCode: ${{ parameters.TRIVY_EXIT_CODE }}

      - template: scan-and-push-image.yml@templatesAlias # 保持一致
        parameters:
          arch: arm64 # 可选值 amd64,arm64
          pool: $(poolNameARM64) # 代理池
          dependsOnName: DockerJobARM_ImageBuild # 构建docker镜像步骤所在job的名称，即getAgentName task所在job的名称，此示例中为BuildImage
          imageName: $[ dependencies.DockerJobARM_ImageBuild.outputs['getAgentName.LATEST_IMAGE'] ] # 本地构建完镜像之后的全名
          registry: ACRDockerRegistry # 连接到harbor的服务连接名
          scanTimeout: 11m # trivy扫描的超时设置，默认值为5分钟(5m)
          templateNo: 2 # 若同一个yaml中多次引用此template，此字段需要以1,2,3...的形式区分开来。为了保证template yml中job id的唯一性
          hasSecondImage: 1 # 1代表同一个镜像存在第二个不同tag，此参数为可选参数，不填写时默认值为0
          secondImageName: $[ dependencies.DockerJobARM_ImageBuild.outputs['getAgentName.CURRENT_IMAGE'] ] # 此参数为可选参数，hasSecondImage为1时需要填写此字段，为镜像包含第二个tag的全名
          exitCode: ${{ parameters.TRIVY_EXIT_CODE }}
  
  - stage: BuildConfImage
    displayName: DOC_AUDIT_CONFIG镜像构建
    dependsOn:
      - InitVariable
      - CodeCheck
    variables:
      VERSION: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.VERSION']]
      CURRENT_TAG: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.CURRENT_TAG']]
      LATEST_TAG: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.LATEST_TAG']]
    jobs:
      - template: templates/azure-template.yml
        parameters:
          name: DockerJobX86_Build
          pool: $(poolNameAMD64)
          containerName: builder
          registry: $(imageRegistry)
          imageRepository: $(imageConfRepository)
          artifactName: $(flowAuditConfArtifactName)
          dependencyArtifact: DependencyRepo
          arch: 'amd64'
          buildImageJobName: 'DockerJobX86_ImageBuild'
          buildProject: $(flowAuditConfProject)
      - template: templates/azure-template.yml
        parameters:
          name: DockerJobARM_Build
          pool: $(poolNameARM64)
          containerName: arm-builder
          registry: $(imageRegistry)
          imageRepository: $(imageConfRepository)
          artifactName: $(flowAuditConfArtifactName)
          dependencyArtifact: DependencyRepo
          arch: 'arm64'
          buildImageJobName: 'DockerJobARM_ImageBuild'
          buildProject: $(flowAuditConfProject)

      - template: scan-and-push-image.yml@templatesAlias # 保持一致
        parameters:
          arch: amd64 # 可选值 amd64,arm64
          pool: $(poolNameAMD64) # 代理池
          dependsOnName: DockerJobX86_ImageBuild # 构建docker镜像步骤所在job的名称，即getAgentName task所在job的名称，此示例中为BuildImage
          imageName: $[ dependencies.DockerJobX86_ImageBuild.outputs['getAgentName.LATEST_IMAGE'] ] # 本地构建完镜像之后的全名
          registry: ACRDockerRegistry # 连接到harbor的服务连接名
          scanTimeout: 11m # trivy扫描的超时设置，默认值为5分钟(5m)
          templateNo: 1 # 若同一个yaml中多次引用此template，此字段需要以1,2,3...的形式区分开来。为了保证template yml中job id的唯一性
          hasSecondImage: 1 # 1代表同一个镜像存在第二个不同tag，此参数为可选参数，不填写时默认值为0
          secondImageName: $[ dependencies.DockerJobX86_ImageBuild.outputs['getAgentName.CURRENT_IMAGE'] ] # 此参数为可选参数，hasSecondImage为1时需要填写此字段，为镜像包含第二个tag的全名
          exitCode: ${{ parameters.TRIVY_EXIT_CODE }}

      - template: scan-and-push-image.yml@templatesAlias # 保持一致
        parameters:
          arch: arm64 # 可选值 amd64,arm64
          pool: $(poolNameARM64) # 代理池
          dependsOnName: DockerJobARM_ImageBuild # 构建docker镜像步骤所在job的名称，即getAgentName task所在job的名称，此示例中为BuildImage
          imageName: $[ dependencies.DockerJobARM_ImageBuild.outputs['getAgentName.LATEST_IMAGE'] ] # 本地构建完镜像之后的全名
          registry: ACRDockerRegistry # 连接到harbor的服务连接名
          scanTimeout: 11m # trivy扫描的超时设置，默认值为5分钟(5m)
          templateNo: 2 # 若同一个yaml中多次引用此template，此字段需要以1,2,3...的形式区分开来。为了保证template yml中job id的唯一性
          hasSecondImage: 1 # 1代表同一个镜像存在第二个不同tag，此参数为可选参数，不填写时默认值为0
          secondImageName: $[ dependencies.DockerJobARM_ImageBuild.outputs['getAgentName.CURRENT_IMAGE'] ] # 此参数为可选参数，hasSecondImage为1时需要填写此字段，为镜像包含第二个tag的全名
          exitCode: ${{ parameters.TRIVY_EXIT_CODE }}
  - stage: MakeManifest
    displayName: 制作多架构镜像
    dependsOn: 
      - InitVariable
      - BuildCoreImage
      - BuildConfImage
    condition: succeeded()
    variables:
      CURRENT_TAG: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.CURRENT_TAG']]
      LATEST_TAG: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.LATEST_TAG']]

      CORE_LATEST_IMAGE_AMD64: $[ stageDependencies.BuildCoreImage.DockerJobX86_ImageBuild.outputs['getAgentName.LATEST_IMAGE'] ]
      CORE_LATEST_IMAGE_ARM64: $[ stageDependencies.BuildCoreImage.DockerJobARM_ImageBuild.outputs['getAgentName.LATEST_IMAGE'] ]
      CORE_CURRENT_IMAGE_AMD64: $[ stageDependencies.BuildCoreImage.DockerJobX86_ImageBuild.outputs['getAgentName.CURRENT_IMAGE'] ]
      CORE_CURRENT_IMAGE_ARM64: $[ stageDependencies.BuildCoreImage.DockerJobARM_ImageBuild.outputs['getAgentName.CURRENT_IMAGE'] ]

      CONF_LATEST_IMAGE_AMD64: $[ stageDependencies.BuildConfImage.DockerJobX86_ImageBuild.outputs['getAgentName.LATEST_IMAGE'] ]
      CONF_LATEST_IMAGE_ARM64: $[ stageDependencies.BuildConfImage.DockerJobARM_ImageBuild.outputs['getAgentName.LATEST_IMAGE'] ]
      CONF_CURRENT_IMAGE_AMD64: $[ stageDependencies.BuildConfImage.DockerJobX86_ImageBuild.outputs['getAgentName.CURRENT_IMAGE'] ]
      CONF_CURRENT_IMAGE_ARM64: $[ stageDependencies.BuildConfImage.DockerJobARM_ImageBuild.outputs['getAgentName.CURRENT_IMAGE'] ]
    jobs:
      - job: MakeManifest
        displayName: 制作多架构镜像
        workspace:
          clean: all
        pool: $(poolNameAMD64)
        steps:
          - checkout: none
          - task: Docker@2
            inputs:
              command: login
              containerRegistry: ACRDockerRegistry
          - script: |
              set -e
              CORE_CURRENT_IMAGE="$(imageRegistry)/$(imageCoreRepository):$(CURRENT_TAG)"
              CORE_LATEST_IMAGE="$(imageRegistry)/$(imageCoreRepository):$(LATEST_TAG)"
              CONF_CURRENT_IMAGE="$(imageRegistry)/$(imageConfRepository):$(CURRENT_TAG)"
              CONF_LATEST_IMAGE="$(imageRegistry)/$(imageConfRepository):$(LATEST_TAG)"

              docker manifest create --amend $CORE_LATEST_IMAGE $(CORE_LATEST_IMAGE_AMD64) $(CORE_LATEST_IMAGE_ARM64)
              docker manifest push --purge $CORE_LATEST_IMAGE
              docker manifest create --amend $CONF_CURRENT_IMAGE $(CORE_CURRENT_IMAGE_AMD64) $(CORE_CURRENT_IMAGE_ARM64)
              docker manifest push --purge $CONF_CURRENT_IMAGE

              docker manifest create --amend $CONF_LATEST_IMAGE $(CONF_LATEST_IMAGE_AMD64) $(CONF_LATEST_IMAGE_ARM64)
              docker manifest push --purge $CONF_LATEST_IMAGE
              docker manifest create --amend $CONF_CURRENT_IMAGE $(CONF_CURRENT_IMAGE_AMD64) $(CONF_CURRENT_IMAGE_ARM64)
              docker manifest push --purge $CONF_CURRENT_IMAGE
  
  - stage: ChartPush
    displayName: Chart构建
    dependsOn:
      - InitVariable
    variables:
        CURRENT_TAG: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.CURRENT_TAG']]
        LATEST_TAG: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.LATEST_TAG']]
        WORKFLOW_CONFIG_LATEST_TAG: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.WORKFLOW_CONFIG_LATEST_TAG']]
        COMMIT_ID: $[stageDependencies.InitVariable.InitVariable.outputs['MyOutputVar.COMMIT_ID']]
        
    jobs:
      - template: templates/chart.yml
        parameters:
          name: DOC_AUDIT_CORE_ChartPush
          pool: $(poolNameAMD64)
          chartName: flow-audit-core
          registry: $(imageRegistry)
          imageRepository: $(imageCoreRepository)
          imageWConfRepository: $(imageWConfRepository)
          yqImage: $(yqImage)
          latestTag: 
            - $(LATEST_TAG)
            - $(WORKFLOW_CONFIG_LATEST_TAG)
          currentTag: $(CURRENT_TAG)
          commitId: $(COMMIT_ID)

      - template: templates/chart.yml
        parameters:
          name: DOC_AUDIT_CONFIG_ChartPush
          pool: $(poolNameAMD64)
          chartName: flow-audit-config
          registry: $(imageRegistry)
          imageRepository: $(imageConfRepository)
          yqImage: $(yqImage)
          latestTag: 
            - $(LATEST_TAG)
          currentTag: $(CURRENT_TAG)
          commitId: $(COMMIT_ID)