<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.dc.common.metadata.mapper.TableScanMapper">
    <select id="selectByDsId" resultType="com.eisoo.dc.common.metadata.entity.TableScanEntity">
        SELECT *
        FROM t_table_scan
        WHERE f_data_source_id = #{id}
          AND f_operation_type != 1
    </select>

    <select id="getTableListByDsIdsBatch" resultType="java.lang.String">
        SELECT f_id FROM
        (
         SELECT t1.f_id,GREATEST(IFNULL(t1.f_operation_time,0),max(IFNULL(t2.f_operation_time,0))) as f_operation_time
                FROM
            (SELECT f_id,f_operation_time FROM t_table_scan
                WHERE 1=1
            <if test="dsIds != null">
                AND f_data_source_id IN
                <foreach item="dsId" collection="dsIds" open="(" separator="," close=")">
                    #{dsId}
                </foreach>
            </if>
            AND f_operation_type != 1
            <if test="keyword != null and keyword != ''">
                AND f_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            )t1
                JOIN
            (SELECT f_table_id,f_operation_time FROM t_table_field_scan WHERE f_operation_type != 1)t2
                ON t1.f_id=t2.f_table_id GROUP BY t1.f_id
         )m  WHERE 1=1
        <if test="updateTime != null and updateTime != ''">
            AND m.f_operation_time >= #{updateTime}
        </if>
        UNION ALL
            SELECT f_id FROM
        (
            SELECT t3.f_id,GREATEST(IFNULL(t3.f_update_time,0),max(IFNULL(t4.f_update_time,0))) as f_operation_time
                    FROM
                (SELECT f_id,f_update_time FROM t_table
                WHERE 1=1
                <if test="dsIds != null">
                    AND f_data_source_id IN
                    <foreach item="dsId" collection="dsIds" open="(" separator="," close=")">
                        #{dsId}
                    </foreach>
                </if>
                AND f_delete_flag != 1
                <if test="keyword != null and keyword != ''">
                    AND f_name LIKE CONCAT('%', #{keyword}, '%')
                </if>
                )t3
                    JOIN (SELECT f_table_id ,f_update_time FROM t_table_field WHERE f_delete_flag != 1)t4
                        ON t3.f_id=t4.f_table_id  GROUP BY t3.f_id
        )n
            WHERE 1=1
        <if test="updateTime != null and updateTime != ''">
            AND n.f_operation_time >= #{updateTime}
        </if>

    </select>
    <select id="getTableListByDsId" resultType="com.eisoo.dc.common.metadata.entity.TableScanEntity">
        SELECT f_id FROM t_table_scan
        WHERE f_data_source_id = #{dsId} AND f_operation_type != 1
        <if test="keyword != null and keyword != ''">
            AND f_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>
    <select id="selectPage" resultType="com.eisoo.dc.common.metadata.entity.TableScanEntity">
        SELECT * FROM t_table_scan
        WHERE 1=1
        <if test="includeIds != null">
            AND f_id IN
            <foreach item="includeId" collection="includeIds" open="(" separator="," close=")">
                #{includeId}
            </foreach>
        </if>
        AND f_operation_type != 1
        <if test="keyword != null and keyword != ''">
            AND f_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY ${sortOrder} ${direction}
        <if test="limit > 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="selectPageBatchIds" resultType="com.eisoo.dc.common.metadata.entity.TableScanEntity">
        SELECT f_id,f_name, f_advanced_params,f_description,f_table_rows,f_data_source_id,f_scan_source FROM (
        SELECT f_id,f_name, f_advanced_params,f_description,f_table_rows,f_data_source_id,f_scan_source FROM t_table_scan
        WHERE 1=1
        <if test="includeIds != null">
            AND f_id IN
            <foreach item="includeId" collection="includeIds" open="(" separator="," close=")">
                #{includeId}
            </foreach>
        </if>
        AND f_operation_type != 1
        UNION ALL
        SELECT f_id,f_name,f_advanced_params,f_description,f_table_rows,f_data_source_id,f_scan_source FROM t_table
        WHERE 1=1
        <if test="includeIds != null">
            AND f_id IN
            <foreach item="includeId" collection="includeIds" open="(" separator="," close=")">
                #{includeId}
            </foreach>
        </if>
        AND f_delete_flag != 1
        ) t
    </select>
    <select id="selectPageBatch" resultType="com.eisoo.dc.common.metadata.entity.TableScanEntity">
        SELECT f_id,f_name, f_advanced_params,f_description,f_table_rows,f_data_source_id,f_operation_time FROM (
        SELECT f_id,f_name, f_advanced_params,f_description,f_table_rows,f_data_source_id,${sortOrder} as
        sort_order,f_operation_time FROM t_table_scan
        WHERE 1=1
        <if test="includeIds != null">
            AND f_id IN
            <foreach item="includeId" collection="includeIds" open="(" separator="," close=")">
                #{includeId}
            </foreach>
        </if>
        AND f_operation_type != 1
        <if test="keyword != null and keyword != ''">
            AND f_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        UNION ALL
        SELECT f_id,f_name,f_advanced_params,f_description,f_table_rows,f_data_source_id, ${sortOrder} as
        sort_order,f_update_time as f_operation_time
        FROM t_table
        WHERE 1=1
        <if test="includeIds != null">
            AND f_id IN
            <foreach item="includeId" collection="includeIds" open="(" separator="," close=")">
                #{includeId}
            </foreach>
        </if>
        AND f_delete_flag != 1
        <if test="keyword != null and keyword != ''">
            AND f_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ) t
        ORDER BY t.sort_order ${direction}
        <if test="limit > 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="selectCount" resultType="long">
        SELECT COUNT(*) FROM t_table_scan
        WHERE f_data_source_id = #{dsId} AND f_operation_type != 1
        <if test="keyword != null and keyword != ''">
            AND f_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="selectCountByDsIdsBatch" resultType="long">
        SELECT count(*) FROM (
            SELECT f_id FROM
         (
            SELECT t1.f_id,GREATEST(IFNULL(t1.f_operation_time,0),max(IFNULL(t2.f_operation_time,0))) as f_operation_time
                FROM
            (SELECT f_id,f_operation_time FROM t_table_scan WHERE 1=1
                <if test="dsIds != null">
                    AND f_data_source_id IN
                    <foreach item="dsId" collection="dsIds" open="(" separator="," close=")">
                        #{dsId}
                    </foreach>
                </if>
            AND f_operation_type != 1
                <if test="keyword != null and keyword != ''">
                    AND f_name LIKE CONCAT('%', #{keyword}, '%')
                </if>
            )t1
                JOIN
            (SELECT f_table_id,f_operation_time FROM t_table_field_scan WHERE f_operation_type != 1)t2
                ON t1.f_id=t2.f_table_id  GROUP BY t1.f_id
         )m   WHERE 1=1
            <if test="updateTime != null and updateTime != ''">
                AND m.f_operation_time >= #{updateTime}
            </if>
        UNION ALL
                SELECT f_id FROM
            (
                SELECT t3.f_id,GREATEST(IFNULL(t3.f_update_time,0),max(IFNULL(t4.f_update_time,0))) as f_operation_time
                        FROM
                    (SELECT f_id,f_update_time FROM t_table WHERE 1=1
                            <if test="dsIds != null">
                                AND f_data_source_id IN
                                <foreach item="dsId" collection="dsIds" open="(" separator="," close=")">
                                    #{dsId}
                                </foreach>
                            </if>
                        AND f_delete_flag != 1
                        <if test="keyword != null and keyword != ''">
                            AND f_name LIKE CONCAT('%', #{keyword}, '%')
                        </if>
                    )t3
                        JOIN
                    (SELECT f_table_id ,f_update_time FROM t_table_field WHERE f_delete_flag != 1
                    )t4 ON t3.f_id=t4.f_table_id GROUP BY t3.f_id
            )n WHERE 1=1
                <if test="updateTime != null and updateTime != ''">
                    AND n.f_operation_time >= #{updateTime}
                </if>
        ) AS tmp
    </select>
</mapper>